@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
body {
    min-width: 320px;
}
.backgroundGrey {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 290;
    width: 100%;
    height: 100%;
    position: fixed;
}
.popUp {
    margin: 50px auto;
    width: 50%;
    height: 70%;
    z-index: 300;
    position: fixed;
    left: 25%;
    background-color: white;
    border: black solid 1px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 10px black;
    .popUp__cross {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        margin-top: 4px;
        span {
            display: block;
            width: 10px;
            height: 2px;
            background-color: #08a6e4;
            margin: 3px;
            margin-right: 10px;
            float: inline-end;
        }
        .cross__line1 {
            transform: rotate(45deg);
            position: relative;
            top: 3px;
            left: 1px;
        }
        .cross__line2 {
            transform: rotate(-45deg);
            position: relative;
            bottom: 5px;
            left: 1px;
        }
    }
    p {
        text-align: center;
        color: #08a6e4;
        font-weight: 700;
    }
    .popUp__form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;

        .popUp__mail {
            color: #08a6e4;
            font-size: 12px;
            text-align: left;
            font-weight: 600;
            margin-left: 5px;
            .mail__leter {
                text-align: left;
            }
        }
        .popUp__input {
            width: 90%;
            margin-left: 5px;
            border: none;
            border-bottom: #95989a 1px solid;
        }
    }
    button {
        width: 70%;
        padding: 20px 0;
        border-radius: 50px;
        color: white;
        font-size: 13px;
        font-weight: 700;
        background-color: #08a6e4;
        border: none;
        margin-bottom: 30px;
        max-width: 300px;
    }
}
.percentage__scroller {
    z-index: 100;
    background-color: #08a6e4;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
}
.button__up {
    z-index: 30;
    position: fixed;
    bottom: 300px;
    right: 10px;
    width: 100px;
}
header {
    margin: 0 auto;
    position: relative;
    padding: 20px 20px 50px;
    h1 {
        color: #08a6e4;
        font-weight: 300;
        display: inline-block;
        position: absolute;
        left: 10%;
    }
    .menu__hamburguesa {
        height: 100%;
        display: inline-block;
        position: absolute;
        right: 10%;
        span {
            display: block;
            background-color: #08a6e4;
            height: 4px;
            width: 40px;
            margin-top: 6px;
        }
    }
    .menu {
        font-family: "Open Sans", sans-serif;
        display: block;
        position: fixed;
        width: 100%;
        left: 0;
        top: 70px;
        background-color: white;
        padding-left: 10px;
        box-shadow: 1px 1px 1px black;
        p {
            margin: 3px;
            font-weight: 700;
            color: #a5a5a5;
            font-size: 11px;
        }
        p:hover {
            color: black;
        }
    }
    .display_none {
        display: none;
    }
}
main {
    box-shadow: inset 0 1px 10px;
    align-items: center;
    clear: both;
    justify-content: center;
    .show {
        padding: 30px 0;
        text-align: center;
        .sell-more {
            font-size: 35px;
            margin-bottom: 20px;
        }
        p {
            font-family: "Open Sans", sans-serif;
        }
        .button-open {
            width: 310px;
            height: 67px;
            color: white;
            background-color: #08a6e4;
            border: none;
            border-radius: 50px;
            font-weight: 700;
            margin-top: 30px;
            box-shadow: 2px 2px 10px #08a6e4;
            font-family: "Open Sans", sans-serif;
        }
        .img-main {
            img {
                box-sizing: border-box;
                width: 100%;
            }
        }
        .subtitle-popular {
            text-align: center;
            margin: 36px;
            font-size: 30px;
            font-weight: 300;
        }
        article {
            align-items: center;
            justify-content: center;
            display: block;
            .article-number {
                font-size: 20px;
                font-weight: 800;
                margin: 19px 0 13px;
            }
            .article-text {
                color: #a5a5a5;
                margin-bottom: 25px;
            }
            .circle-red {
                border-radius: 100%;
                width: 58px;
                height: 58px;
                background-color: #fb3b64;
                display: inline-block;
                img {
                    position: relative;
                    left: 20px;
                }
            }
            .circle-blue {
                border-radius: 100%;
                width: 58px;
                height: 58px;
                background-color: #08a6e4;
                display: inline-block;
                img {
                    position: relative;
                    left: 13px;
                    top: 10px;
                }
            }
            .circle-green {
                border-radius: 100%;
                width: 58px;
                height: 58px;
                background-color: #55dfb4;
                display: inline-block;
                img {
                    position: relative;
                    left: 20px;
                    top: 5px;
                }
            }
        }
    }
    //SECTION CARD----------------------------
    .cards {
        background-color: #a5a5a5;
        padding: 20px 0;
        article {
            background-color: white;
            max-width: 315px;
            width: 90%;
            display: block;
            margin: 40px auto 0;
            padding-top: 5px;
            .cards-title {
                margin: 20px;
                font-size: 30px;
            }
            .cards-text {
                margin: 20px;
                padding-bottom: 10px;
                font-family: "Open Sans", sans-serif;
            }
            .cards-red-line {
                display: none;
            }
            .cards-blue-line {
                display: none;
            }
            .cards-green-line {
                display: none;
            }
            .cards-container-div-img {
                position: relative;
                height: 130px;
                .cards-red-circle {
                    width: 90px;
                    height: 90px;
                    display: inline-block;
                    background-color: #fb3b64;
                    border-radius: 100%;
                    margin-left: 170px;
                }
                img {
                    height: 100px;
                    width: 190px;
                    position: absolute;
                    left: 20%;
                    top: 20px;
                    z-index: 2;
                }
            }
            .cards-blue-circle {
                width: 130px;
                height: 130px;
                background-color: #08a6e4;
                border-radius: 100%;
                margin-left: 80px;
                img {
                    width: 170px;
                    height: 130px;
                }
            }
            .cards-background-green {
                background-color: #55dfb4;
                height: 195px;
                img {
                    margin-top: 25px;
                    width: 90%;
                }
            }
        }
    }
    //SECTION SALE---------------------------------
    .sale {
        margin: auto;
        padding-bottom: 30px;
        h2 {
            text-align: center;
            font-size: 36px;
            margin: 55px 0 15px;
        }
        article {
            margin: 50px auto;
            width: 90%;
            max-width: 320px;
            height: 300px;
            position: relative;
        }
        .sale-red {
            border: #fb3b64 solid 1px;
            border-radius: 10px;
        }
        .sale-green {
            border: #55dfb4 solid 1px;
            border-radius: 10px;
        }
        .sale-blue {
            border: #08a6e4 solid 1px;
            border-radius: 10px;
        }
        .sale-margin-red {
            margin-left: 60px;
        }
        .sale-margin-blue {
            margin-left: 40px;
        }
        .sale-margin-green {
            margin-left: 50px;
        }
        .sale-text {
            text-align: center;
            float: left;
            padding-top: 90px;
            p:nth-child(1) {
                font-weight: 700;
                font-size: 20px;
            }
            p:nth-child(2) {
                font-weight: 300;
                font-size: 46px;
                font-family: "Open Sans", sans-serif;
            }
            p:nth-child(3) {
                font-size: 12px;
                font-weight: 700;
            }
            .sale-text-blue {
                color: #08a6e4;
            }
            .sale-text-red {
                color: #fb3b64;
            }
            .sale-text-green {
                color: #55dfb4;
            }
        }
        .sale-list {
            font-size: 14px;
            margin: 25px auto;
            float: right;
            font-family: "Open Sans", sans-serif;
            ul {
                margin-top: 25px;
                margin-right: 10px;
                .checked {
                    margin-top: 20px;
                    list-style-image: url(../img/Checkbox.svg);
                }
                .cross {
                    margin-top: 20px;
                    list-style-image: url(../img/Cross.svg);
                }
            }
        }
        .sale-button {
            bottom: -26px;
            left: 75px;
            position: absolute;
            font-size: 13px;
            color: white;
            font-weight: 700;
            width: 150px;
            text-align: center;
            padding: 16px 56px;
            border-radius: 50px;
        }
        .button-red {
            background-color: #fb3b64;
        }
        .button-blue {
            background-color: #08a6e4;
        }
        .button-green {
            background-color: #55dfb4;
        }
    }
    //SECTION Sliders---------------------------------

    .slider {
        width: 70%;
        height: 35vw;
        margin: 100px auto;
        position: relative;
        background-color: black;
        .img__slider {
            width: 100%;
            height: 100%;
        }
        .slider__index {
            z-index: 100;
            .button__arrow {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                .arrow__prev {
                    img {
                        width: 20%;
                        transform: rotate(180deg);
                        margin: 0 15px;
                    }
                }
                .arrow__next {
                    text-align: end;
                    img {
                        width: 20%;
                        margin: 0 15px;
                    }
                }
            }
            .button__select {
                width: 100%;
                position: absolute;
                bottom: 5px;
                display: flex;
                justify-content: center;
                .select__design {
                    border-radius: 100%;
                    width: 5vw;
                    max-width: 45px;
                    height: 5vw;
                    max-height: 45px;
                    background-color: rgba(0, 0, 0, 0.5);
                    border: 0.4vw solid black;
                    margin: 0 5px;
                }
                .background__white {
                    background-color: rgba(255, 255, 255, 0.9);
                    border: none;
                }
            }
        }
    }

    //SECTION Contact----------------------------------
    .contact {
        margin: 0 auto 50px;
        max-width: 375px;
        font-family: "Open Sans", sans-serif;
        .contact-title {
            margin-left: 25px;
        }
        h6 {
            font-size: 40px;
            font-family: "Raleway", sans-serif;
        }
        .contact-line {
            margin: 40px 0;
            padding-bottom: 40px;
            .contact-email {
                margin-left: 40px;
            }
            .contact-number {
                margin-left: 40px;
                margin-top: 15px;
            }
            p {
                color: #a5a5a5;
                font-weight: 600;
                display: inline-block;
                position: relative;
                bottom: 7px;
            }
        }
        .contact-padding {
            padding-top: 30px;
        }
        .contact-line-label {
            color: #08a6e4;
            font-size: 11px;
            font-weight: 600;
            margin-top: 40px;
            margin-left: 30px;
        }
        .contact-line-input {
            border: none;
            border-bottom: #95989a solid 2px;
            width: 280px;
            margin-left: 30px;
            margin-bottom: 40px;
        }
        .border__error {
            border: red solid 2px;
        }
        .contact-terms {
            margin: auto;
            width: 80%;
            .contact__checkbox {
                float: left;
                width: 15px;
                height: 15px;
                .checkbox__input {
                    width: 15px;
                    height: 15px;
                }
            }
            label {
                color: #a5a5a5;
                display: inline-block;
                width: 85%;
            }
        }
        button {
            width: 226px;
            padding: 20px 0;
            border-radius: 50px;
            color: white;
            font-size: 13px;
            font-weight: 700;
            background-color: #08a6e4;
            border: none;
            margin: 40px 0 40px 80px;
        }
    }
}
//FOOTER-----------------------------------
footer {
    margin: 0 auto;
    .foot-title {
        float: left;
        padding-bottom: 40px;
        margin-left: 20px;
        h1 {
            color: #08a6e4;
            font-size: 30px;
            font-weight: 300;
        }
        p {
            font-size: 11px;
            color: #95989a;
        }
    }
    .foot-social {
        float: right;
        margin-right: 20px;
        padding-top: 10px;
        .foot-social-twitter {
            color: #55acee;
            font-size: 24px;
        }
        .foot-social-facebook {
            color: #3b5998;
            font-size: 24px;
            margin-left: 20px;
        }
    }
}
.display_none {
    display: none;
}

@media (min-width: 1000px) {
    .popUp {
        p {
            font-size: 50px;
        }
        .popUp__mail {
            margin-bottom: 20px;
            .mail__leter {
                font-size: 25px;
                text-align: left;
            }
        }
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0;
        .menu {
            position: static;
            display: flex;
            justify-content: end;
            align-items: center;
            box-shadow: none;
            height: 100%;
            
            margin-right: 50px;
                p {
                    font-size: 11px;
                    font-weight: 700;
                    color: #a5a5a5;
                    width: 50px;
                    height: 40px;
                    display: block;
                    margin-left: 50px;
                    margin-top: 20px;
                    text-align: center;
                }
                p:hover {
                    border-bottom: #08a6e4 solid 3px;
                    color: black;
                }
            }
            .menu__hamburguesa {
                display: none;
            }
        }
    
    main {
        .show {
            .articles-popular {
                height: 400px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .cards {
            article:nth-child(1) {
                max-width: 1124px;
                height: 370px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                .cards-hypertext {
                    max-width: 416px;
                    margin: 91px 0 91px 35px;
                    .cards-title {
                        margin: 0;
                    }
                    .cards-text {
                        margin: 0;
                        padding: 0;
                    }
                    .cards-red-line {
                        width: 327px;
                        border-color: #fb3b64;
                        background-color: #fb3b64;
                        margin-top: 50px;
                        height: 4px;
                        display: block;
                    }
                }
                .cards-container-div-img {
                    display: flex;
                    align-items: center;
                    margin-right: 110px;
                    img {
                        width: 380px;
                        height: 220px;
                        margin: 0;
                        padding: 0;
                        position: static;
                    }
                    .cards-red-circle {
                        margin: 0;
                        position: absolute;
                        border-radius: 15px;
                        width: 180px;
                        height: 180px;
                        transform: rotate(45deg);
                        right: 0px;
                        top: -70px;
                    }
                }
            }
            article:nth-child(2) {
                max-width: 1124px;
                display: flex;
                height: 370px;
                padding: 0;
                justify-content: space-between;
                .cards-blue-circle {
                    height: 320px;
                    width: 320px;
                    background-color: #08a6e4;
                    border-radius: 100%;
                    margin: 12px 0 30px 70px;
                    img {
                        width: 426px;
                        height: 328px;
                        position: static;
                    }
                }
                .cards-hypertext {
                    width: 416px;
                    margin: 69px 20px 71px 0;
                    text-align: left;
                    .cards-title {
                        margin: 20px;
                        font-size: 30px;
                    }
                    .cards-text {
                        margin: 20px;
                        padding-bottom: 10px;
                    }
                    .cards-blue-line {
                        width: 327px;
                        border-color: #08a6e4;
                        background-color: #08a6e4;
                        margin-top: 50px;
                        margin-left: 20px;
                        height: 4px;
                        display: inline-block;
                    }
                }
            }
            article:nth-child(3) {
                background-color: #a5a5a5;
                max-width: 1124px;
                display: flex;
                height: 370px;
                padding: 0;
                justify-content: space-between;
                .cards-hypertext {
                    width: 60%;
                    max-width: 660px;
                    text-align: left;
                    background-color: white;
                    margin-right: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .cards-title {
                        margin: 20px;
                        font-size: 30px;
                    }
                    .cards-text {
                        margin: 20px;
                        padding-bottom: 10px;
                    }
                    .cards-green-line {
                        width: 327px;
                        border-color: #55dfb4;
                        background-color: #55dfb4;
                        margin-top: 50px;
                        margin-left: 20px;
                        height: 4px;
                        display: inline-block;
                    }
                }
                .cards-background-green {
                    background-color: #55dfb4;
                    height: 370px;
                    img {
                        margin-top: 25px;
                        width: 440px;
                    }
                }
            }
        }
        .sale {
            margin: auto;
            padding-bottom: 30px;
            .sale-div {
                display: flex;
                justify-content: space-around;
                article {
                    height: 500px;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    .sale-margin-red {
                        margin-left: 0px;
                    }
                    .sale-margin-blue {
                        margin-left: 0px;
                    }
                    .sale-margin-green {
                        margin-left: 0px;
                    }
                    .sale-text {
                        padding: 0;
                    }
                    .sale-list {
                        text-align: center;
                        ul {
                            margin-right: 0px;
                            li {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact {
        display: flex;
        justify-content: center;
        max-width: none;
        .contact-informatio-first {
            min-width: 360px;
            margin-right: 113px;
            .contact-title {
                margin-left: 0;
                p {
                    margin-bottom: 42px;
                }
            }
            h6 {
                margin: 22px 0;
                font-size: 49px;
            }
            .contact-line {
                display: flex;
                margin: 0;
                padding: 0;
                .contact-email {
                    display: flex;
                    margin: 0;
                    img {
                        width: 22px;
                    }
                    p {
                        margin-left: 3px;
                        position: static;
                    }
                }
                .contact-number {
                    display: flex;
                    margin: 0;
                    img {
                        width: 22px;
                        margin-left: 23px;
                    }
                    p {
                        margin-left: 3px;
                        position: static;
                    }
                }
            }
        }
        .contact-informatio-second {
            min-width: 440px;
            .contact-line-label {
                margin-left: 0px;
            }
            .contact-line-input {
                width: 440px;
                margin-left: 0px;
            }
            .contact-terms {
                margin: 0;
                width: 100%;
                input {
                    float: left;
                    margin-right: 10px;
                }
                label {
                    color: #a5a5a5;
                    display: inline-block;
                    width: 90%;
                }
            }
            .contact-button {
                display: flex;
                justify-content: end;
            }
        }
    }
}
.display_none {
    display: none;
}
